* {
  box-sizing: border-box;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 40px;
  z-index: 100;

  background-color: transparent; 
}

.navbarleft{
    display: flex;
  align-items: center;
  gap: 30px;
  color: white;
}
.navbarlogo {
  width: 140px;
  object-fit: contain;
}
.navbarlinks {
  display: flex;
  gap: 24px;
  font-size: 16px;
  font-weight: 500;
  color: #e1e6f0;
}
.navbar span{
    color: white;
}

.navbarlinks span:hover {
  color: #ffffff;
}
.navbarright {
  display: flex;
  align-items: center;
  color: white;
  gap: 20px;
}
.navbarsearch {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e1e6f0;
  padding-bottom: 5px;
  width: 200px;
  transition: width 0.3s;
}
.navbarsearchInput {
  background: transparent;
  border: none;
  color: white;
  outline: none;
  width: 100%;
  font-family: inherit;
  font-size: 15px;
}
.navbarsubscribe {
  background-color: transparent;
  border: 1px solid #8f98b0;
  color: white;
  padding: 4px 12px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  text-transform: uppercase;
}

.navbaravatar {
  color: white;
  font-size: 28px;
  cursor: pointer;
}
