
.searchContainer {
  padding-top: 100px;
  padding-left: 50px;
  padding-right: 50px;
  color: white;
  min-height: 100vh;
}

.searchContainer h2 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 20px;
}


.searchGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}


.searchCard {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.searchCard:hover {
  transform: scale(1.08);
}


.searchCard img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}


.title {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px;

  background: black
  ;

  opacity: 0;
  transition: opacity 0.3s ease;
}

.searchCard:hover .title {
  opacity: 1;
}

.title p {
  font-size: 14px;
  font-weight: 500;
}
